.listCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.list {
  display: flex;
  gap: 32px;
  row-gap: 48px;
  flex-wrap: wrap;
  list-style-type: none;
}

.car {
  /* width: calc((100% - 32px * 3) / 4); */
  /* max-width: 276px; */
  width: 276px;
}
