.form {
  width: 640px;
  height: 488px;
  border: 1px solid rgba(218, 221, 225, 1);
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}

.titles {
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 8px;
}

.formText {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(141, 146, 154, 1);
}

.inputCont {
  display: flex;
  flex-direction: column;
  width: 576px;
  gap: 16px;
  justify-content: center;
}

.inputDiv {
  width: 576px;
  height: 48px;
}

.input {
  box-sizing: border-box;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  height: 48px;
  color: rgba(141, 146, 154, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.calendar {
  box-sizing: border-box;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  color: rgba(141, 146, 154, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/* Календар */
/* Обгортка календаря */
:global(.react-datepicker) {
  border-bottom: 1px solid rgba(52, 112, 255, 1) !important;
  border-right: 1px solid rgba(52, 112, 255, 1) !important;
  border-left: 1px solid rgba(52, 112, 255, 1) !important;
  border-radius: 12px !important;
  font-family: inherit !important;
  font-family: Inter, sans-serif !important;
  font-size: 14px !important;
  font-size: 400 !important;
  color: rgba(16, 24, 40, 1) !important;
  background-color: #fff !important;
  overflow: hidden !important;
}

/* Шапка */
:global(.react-datepicker) :global(.react-datepicker__header) {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(52, 112, 255, 1);
  padding: 12px;
  border-top: 1px solid rgba(52, 112, 255, 1);
}

/* Місяць + рік */
:global(.react-datepicker) :global(.react-datepicker__current-month) {
  font-weight: 600;
  font-size: 16px;
}

/* Дні тижня */
:global(.react-datepicker) :global(.react-datepicker__day-name) {
  display: none;
}

/* Звичайний день */
:global(.react-datepicker) :global(.react-datepicker__day),
:global(.react-datepicker) :global(.react-datepicker__month-text),
:global(.react-datepicker) :global(.react-datepicker__quarter-text),
:global(.react-datepicker) :global(.react-datepicker__year-text) {
  color: rgba(16, 24, 40, 1);
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* Hover */
:global(.react-datepicker) :global(.react-datepicker__day:hover),
:global(.react-datepicker) :global(.react-datepicker__month-text:hover),
:global(.react-datepicker) :global(.react-datepicker__quarter-text:hover),
:global(.react-datepicker) :global(.react-datepicker__year-text:hover) {
  background-color: rgba(52, 112, 255, 0.1);
}

/* Виділений день */
:global(.react-datepicker) :global(.react-datepicker__day--selected),
:global(.react-datepicker) :global(.react-datepicker__day--keyboard-selected),
:global(.react-datepicker) :global(.react-datepicker__month-text--selected),
:global(.react-datepicker)
  :global(.react-datepicker__month-text--keyboard-selected),
:global(.react-datepicker) :global(.react-datepicker__quarter-text--selected),
:global(.react-datepicker)
  :global(.react-datepicker__quarter-text--keyboard-selected),
:global(.react-datepicker) :global(.react-datepicker__year-text--selected),
:global(.react-datepicker)
  :global(.react-datepicker__year-text--keyboard-selected),
:global(.react-datepicker) :global(.react-datepicker__day--in-selecting-range),
:global(.react-datepicker) :global(.react-datepicker__day--in-range),
:global(.react-datepicker)
  :global(.react-datepicker__month-text--in-selecting-range),
:global(.react-datepicker) :global(.react-datepicker__month-text--in-range),
:global(.react-datepicker)
  :global(.react-datepicker__quarter-text--in-selecting-range),
:global(.react-datepicker) :global(.react-datepicker__quarter-text--in-range),
:global(.react-datepicker)
  :global(.react-datepicker__year-text--in-selecting-range),
:global(.react-datepicker) :global(.react-datepicker__year-text--in-range) {
  background-color: #3470ff;
  border-radius: 32px;
  color: #fff;
}

/* Сьогодні */
:global(.react-datepicker) :global(.react-datepicker__day--today),
:global(.react-datepicker) :global(.react-datepicker__month-text--today),
:global(.react-datepicker) :global(.react-datepicker__quarter-text--today),
:global(.react-datepicker) :global(.react-datepicker__year-text--today) {
  font-weight: bold;
}

/* Стрілки */
:global(.react-datepicker) :global(.react-datepicker__navigation) {
  color: rgba(52, 112, 255, 1);
}

:global(.react-datepicker) :global(.react-datepicker__navigation-icon::before) {
  border-color: rgba(52, 112, 255, 1);
}

/* Місяць */
:global(.react-datepicker) :global(.react-datepicker__month) {
  text-align: center;
  padding: 12px;
  margin: 0;
}

/* Тиждень */
:global(.react-datepicker) :global(.react-datepicker__week) {
  white-space: nowrap;
}

:global(.react-datepicker__navigation-icon::before) {
  border-color: #3470ff;
}

.last-inputDiv {
  height: 88px;
}

.last-input {
  padding-bottom: 56px;
  height: 88px;
}

.input::placeholder {
  color: rgba(141, 146, 154, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.btnDiv {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: rgba(52, 112, 255, 1);
  border: none;
  border-radius: 12px;
  width: 156px;
  padding: 12px 58px;
  height: 44px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgba(11, 68, 205, 1);
}
