.filters {
  width: 924px;
  margin-bottom: 56px;
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(16, 24, 40, 1);
}

/* Селектор брендів */

/* Щоб не було СВГ сердечка */
:global(.react-select__menu) {
  z-index: 9999 !important;
  position: absolute !important;
}
/* Контейнер селекту всередині твого компонента */
:global(.react-select__control) {
  border-radius: 12px !important;
  border: none !important;
  height: 44px !important;
  width: 204px !important;
  background-color: rgba(247, 247, 247, 1) !important;
  box-shadow: none !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
  cursor: pointer !important;
  font-family: "Manrope", "sans-sarif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}

/* Вибране значення */
:global(.react-select__single-value) {
  color: rgba(16, 24, 40, 1);
}

:global(.react-select__placeholder) {
  color: rgba(16, 24, 40, 1) !important;
}

/* Опції у списку */
:global(.react-select__option) {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(141, 146, 154, 1);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

/* Вибрана опція */
:global(.react-select__option.react-select__option--is-selected) {
  color: rgba(16, 24, 40, 1);
  background-color: rgba(255, 255, 255, 1);
}

.svgArrow {
  color: rgba(16, 24, 40, 1);
  fill: rgba(16, 24, 40, 1);
}

.mil {
  display: flex;
  align-items: flex-end;
}

.milInpFrom {
  box-sizing: border-box;
  padding-left: 66px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 160px;
  height: 44px;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-right: 1px solid rgba(218, 221, 225, 1);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  appearance: none;
  cursor: pointer;
}

.milInpTo {
  box-sizing: border-box;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 160px;
  height: 44px;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 46px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  appearance: none;
  cursor: pointer;
}

.inputWrapper {
  position: relative;
  display: inline-block;
  /* margin-right: 10px; */
}

.inputWrapper:last-child {
  margin-top: 20px;
}

.prefixFrom {
  position: absolute;
  left: 24px;
  top: 52%;
  color: rgba(16, 24, 40, 1);
  pointer-events: none;
}

.prefixTo {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-51%);
  color: rgba(16, 24, 40, 1);
  pointer-events: none;
}

.btn {
  width: 156px;
  height: 44px;
  padding-top: 12px;
  padding-right: 51px;
  padding-bottom: 12px;
  padding-left: 51px;
  border-radius: 12px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(52, 112, 255, 1);
  transition: background-color 0.3s;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 26px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgba(11, 68, 205, 1);
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(141, 146, 154, 1);
}
